@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

/* Dividimos la pagina en 3 columnas y 2 filas*/
.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 1.2fr;
  grid-template-rows: 0.5fr 1fr 3fr;
  grid-template-areas:
    "main header header"
    "main nom1    nom2"
    "main nom3    nom2";
  height: 100vh;
}
/* Asignamos nombre a cada área según lo definido anteriormente*/
header {
  position: relative;
  grid-area: header;
  padding: 3px 30px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  position: relative;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: end;
  gap: 35px;
  padding-bottom: 20px;
}
section.nom1 {
  position: relative;
  grid-area: nom1;
  padding-top: 20px;
}
section.nom2 {
  position: relative;
  grid-area: nom2;
  justify-self: center;
  display: flex;
  align-items: center;
}
section.nom3 {
  position: relative;
  grid-area: nom3;
  padding-top: 30px;
  font-size: 13.2px;
  color: #fff;
  font-family: "arial";
  padding-right: 64.5px;
  font-weight: 1;
  word-spacing: 5px;
}

/*   */
section.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
div section img.background-img {
  width: 100%;
  height: 100%;
}

header div.contenido {
  display: flex;
  align-items: center;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header .logo {
  width: 30px;
  filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(151deg)
    brightness(105%) contrast(106%);
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 30px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  /* mantiene fijo el hover sobre la clase active*/
  background: rgb(76, 76, 227);
  color: #fff;
}

section div.text {
  color: #fff;
  text-transform: capitalize;
  width: 90%;
}
section div h1 {
  font-size: 65px;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: normal;
}

section div img.girl-tough {
  width: 400px;
  height: 500px;
  padding: 0px 20px 20px 10px;
}
section div.datos {
  background: #fff;
  display: flex;
  align-items: center;
  width: 380px;
  height: 85px;
  margin-top: 20px;
  border-radius: 5px;
  justify-content: space-around;
}
section div img.flag {
  width: 60px;
  height: 40px;
}
section div div div img.red-down {
  width: 30px;
  background: none;
}
section div div.datos-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section div div h2.cypher {
  color: red;
  margin-left: 83px;
}
section div div div h3.cypher-up {
  background: #eb6d06;
  border-radius: 3px;
}
section div div div h3.cypher-down {
  background-color: rgb(27, 169, 27);
  border-radius: 3px;
}
section div div div.datos-box-numbers {
  display: flex;
  gap: 10px;
}
/* Page2 */
div.sec {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 100px;
  height: 100vh;
  background: #e7eaf3;
  color: rgb(2, 40, 120);
}
.sec-12 {
  width: 40%;
  text-align: center;
}
.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
.cards {
  display: flex;
}
.card {
  margin: 50px 15px 20px 5px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left;
  background-color: #fff;
  background-size: 100px;
  border-radius: 5px;
  box-shadow: 5px 10px #ebe9e9;
  height: 260px;
}
.card img {
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
}
.contenido-texto-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Page 3 */

div.se {
  padding: 100px;
  min-height: 100vh;
  background: rgba(189, 184, 184, 0.436);
  color: rgb(8, 56, 119);
}
.header-text > h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  bottom: 100px;
}

.header-text > h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: rgb(8, 56, 119);
}

/**
 * COVID Prevention Section
 */
.section-prev {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;
  margin: 0;
  padding: 0;
}

.section-prev .row {
  display: flex;
  margin: 60px;
  margin-bottom: 100px;
  width: 90vw;
}

.media-text {
  display: flex;
  align-items: center;
  align-content: center;
  width: 50vw;
  padding: 15px 10px;
  margin: 0 40px;
}

.hex-image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 112px;
  background: white;
  right: 22px;
  bottom: 10px;
}

.hex-image:before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 60px solid white;
}

.hex-image:after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 60px solid white;
}

.media-text .text {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 180px;
  line-height: 1.4;
  color: rgb(8, 56, 119);
}

.media-text .text h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

.text p {
  font-size: 18px;
  font-weight: 500;
}

/* Page 4 */

div.sec4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  min-height: 100vh;
  background: #a9bfec;
  color: rgb(2, 40, 120);
}
.sec4 p {
  font-size: 12px;
  margin-bottom: 10px;
  color: rgb(2, 40, 120);
}
.sec4-12 {
  width: 40%;
  text-align: center;
  margin-bottom: 20px;
}
.cards4-row1 {
  display: flex;
  align-items: center;

  background-size: 100px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.cards4-row2 {
  display: flex;
  align-items: center;

  background-size: 100px;
  border-radius: 5px;
}
.cards4 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.card4 {
  margin: 5px 10px 10px 20px;
  background-color: #fff;
  box-shadow: 5px 10px #f0ecec;
}
.contenido-texto-card4 {
  padding: 9px 9px 9px 9px;
  width: 90%;
}
/* Page 5 */
div.background5 {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
div.sec5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgb(235, 237, 242);
}
.sec5-12 {
  width: 30%;
  text-align: center;
}
.sec5 p {
  font-size: 12px;
  color: #fff;
}
.cards5 {
  display: flex;
}
.cards5-column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}
.cards5-column2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
}
.card5 {
  margin: 5px 5px 0px 0px;
  padding: 15px 55px 15px 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(55, 18, 190);
  background-size: 100px;
  border-radius: 5px;
  width: 85%;
}
.contenido-texto-card5 {
  width: 100%;
}
/* Pag 6 */
div.sec6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  min-height: 150vh;
  background: #fff;
  color: rgb(2, 40, 120);
}
.sec6 p {
  font-size: 12px;
  margin-bottom: 10px;
}
.sec6-12 {
  width: 40%;
  text-align: center;
  margin-bottom: 20px;
}
.cards6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards6-row1 {
  background-size: 100px;
  margin-bottom: 30px;
}
.cards6-row1-img {
  width: 90%;
  height: 20%;
  padding: 0px 0px 0px 80px;
}
.cards6-row2 {
  position: absolute;
  display: flex;
  align-items: center;
  background-size: 100px;
  border-radius: 5px;
  background-color: rgb(18, 98, 173);
  width: 73%;
  height: 35%;
  margin-top: 30%;
  border-radius: 5px;
}

.card6-contenido {
  margin: 0px 10px 0px 40px;
  width: 50%;
  height: 70%;
  color: #fff;
}

.card6-img-phone {
  position: relative;
  width: 200px;
  height: 380px;
  margin: 40px 10px 0 600px;
}
.contenido-texto-card6 {
  padding: 9px 9px 9px 9px;
  width: 90%;
  color: #fff;
}
.contenido-texto-card6-style {
  font-size: 45px;
}
/* Page 7 */
div.sec7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  min-height: 100vh;
  background: #fff;
  color: rgb(2, 40, 120);
}
.sec7 p {
  font-size: 12px;
  margin-bottom: 10px;
  color: rgb(2, 40, 120);
}
.sec7-12 {
  width: 40%;
  text-align: center;
  margin-bottom: 20px;
}
.cards7-row1 {
  display: flex;
  align-items: center;
  background-size: 100px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.cards7 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.card7 {
  margin: 5px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  width: 280px;
}
.card7-img {
  width: 280px;
  height: 240px;
}
.contenido-texto-card7 {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}
.card7-icon {
  display: flex;
  gap: 20px;
}
.card7-icon-content {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 5px;
}
/* Page 8 */

footer.pie {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  background-color: rgb(2, 40, 120);
  color: #fff;
}
footer div div.pie-1-1 {
  display: flex;
  align-items: center;
  color: white;
  gap: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer div div img.logo {
  width: 30px;
  filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(151deg)
    brightness(105%) contrast(106%);
}
footer div.pie-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 30px;
}
footer div.pie-2 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 17px;
}
.pie-1-2-text {
  letter-spacing: 2px;
}
.pie-1-3 {
  display: flex;
  gap: 15%;
}
